body {
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.title {
  font-family: Montez;
  font-size: 90px;
}

.highlight {
  background: url(/public/img/white-brushstroke.png);
  background-repeat: no-repeat;
  background-size: 30% 110%;
  background-position: center;
  padding: 8px 0;
}

.button_wide {
  text-align: center;
  height: 40px;
  width: 200px;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 4px 2px;
  background-color: lightcyan;
}

.small_button {
  font-size: 15px;
  padding: 10px;
  box-shadow: 4px 4px 2px #888888;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: lightblue;
  border-radius: 16px;
  cursor: pointer;
  margin: 4px 2px;
}

.error_text {
  color: red;
  padding: 3px;
  font-size: 15pt;
}

.input {
  width: 70%;
  height: 40%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 4px 4px 2px #888888;
  box-sizing: border-box;
  font-size: 27px;
}

.center_text {
  text-align: center;
}

.center_align_block {
  display: block;
}

.display_none {
  display: none;
}

.inline_flex {
  display: inline-flex;
}

.info_text {
  text-align: center;
  font-size: 20px;
  color: rgb(10, 88, 161);
}

.bigger_text {
  font-size: 20px;
}
